<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ps.loanbox">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 获取设备信息 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 网络通信 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 获取MAC地址 -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_APN_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <!-- 获取日志 -->
    <application
        android:name="com.ps.loanbox.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 标明设计稿的尺寸 假设768*1280 -->
        <meta-data
            android:name="design_width"
            android:value="768" />
        <meta-data
            android:name="design_height"
            android:value="1280" />

        <activity
            android:name="com.ps.loanbox.activity.login.LoginActivity"
            android:theme="@style/BaseTheme"></activity>
        <activity
            android:name="com.ps.loanbox.activity.login.WelcomeActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ps.loanbox.activity.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">

        </activity>
        <activity
            android:name="com.ps.loanbox.activity.login.CodeLoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.ps.loanbox.activity.login.RegisterActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.ps.loanbox.activity.login.ForgotPswActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.ps.loanbox.activity.login.SetPswActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name="com.ps.loanbox.activity.person.SettingActivity" />
        <activity android:name="com.ps.loanbox.activity.person.ChangePswActivity" />
        <activity android:name="com.ps.loanbox.activity.person.FeedBackActivity" />
        <activity android:name="com.ps.loanbox.activity.person.MessageActivity" />
        <activity android:name="com.ps.loanbox.activity.person.MoreCustomActivity" />
        <activity android:name="com.ps.loanbox.activity.creditReport.CreditReportActivity" />
        <activity android:name="com.ps.loanbox.activity.creditReport.ExpandReportActivity" />
        <activity android:name="com.ps.loanbox.activity.creditReport.DefaultRecordActivity" />
        <activity android:name="com.ps.loanbox.activity.credit.BankCreditListActivity" />
        <activity android:name="com.ps.loanbox.activity.credit.BankHotListActivity" />
        <activity android:name="com.ps.loanbox.activity.loan.LoanListActivity" />
        <activity android:name="com.ps.loanbox.activity.loan.HandleCardActivity" />
        <activity android:name="com.ps.loanbox.activity.loan.RepayCardActivity" />
        <activity
            android:name="com.ps.loanbox.activity.login.InfoStepOneActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.ps.loanbox.activity.login.InfoStepTwoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name="com.ps.loanbox.activity.login.InfoStepThreeActivity" />
        <activity android:name="com.ps.loanbox.activity.credit.CardPregressActivity" />
        <activity
            android:name="com.ps.loanbox.activity.loan.HotLoanActivity"
            android:label="@string/title_activity_hot_loan" />
        <activity android:name="com.ps.loanbox.activity.login.GudieActivity" />
        <activity android:name="com.ps.loanbox.activity.login.AdActivity" />
        <activity android:name="com.ps.loanbox.activity.H5Activity" />
        <activity android:name="com.ps.loanbox.gate.Main2Activity" />
        <activity android:name="com.ps.loanbox.gate.NewActivity" />
        <activity android:name="com.ps.loanbox.activity.person.HelpActivity" />
        <activity android:name="com.ps.loanbox.activity.person.CollectionActivity" />
        <activity android:name="com.ps.loanbox.activity.login.BindTelActivity" />
        <activity android:name="com.ps.loanbox.activity.login.AutoCodeActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="@string/fb_login_protocol_scheme"
                    tools:ignore="ManifestResource" />
            </intent-filter>
        </activity>
        <activity android:name="com.ps.loanbox.activity.credit.ProductDetailActivity"></activity>
    </application>

</manifest>